<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
    <!-- если  приложение vue еще не готово не показывать данный блок -->
    <style>[v-cloak] {
        display: none;
    }
    </style>
</head>
<body>

    
<div class="container pt-3" id="app" v-cloak>
    <h1>Rest API</h1>

    <!-- для того чтобы вызвать метод generate по умолчанию а не перезагружать страницу -->
    <form class="form-inline mb-3" @submit.prevent="generate"> 
       
        
        <button class="btn btn-primary" type="submit">Generate</button>
      </form>

      <div v-if="loading">
          <loader />
      </div>
<!-- если что-то отличное от нуля показываем блок ниже -->
<div v-else-if="contacts.length">
  <!-- эдемент который нужно продублировать, создавать переменную
     contact в масииве contact -->
      <div class="card mb-3" v-for="contact in contacts">
        <div class="card-body">
          <p class="card-text":style="{color: contact.marked ? 'red' : 'black'}"><b>Value:</b> {{contact.value}}</p>
          <p class="card-text"><b>ID:</b> {{contact.id}}</p>
          <!-- определям какорй именно контакт мы помечаем по id -->
          <button class="btn btn-primary" @click="retrieve(contact.id)" :disabled="contact.marked">Retrieve</button>
          <button class="btn btn-danger" @click="removeContact(contact.id)">Delete</button>
        </div>
      </div>
      
</div>
<!-- если contact.length=0 отобразить след строку empty -->
<p v-else>Empty</p>
    </div>
    <script type="module" src="frontend.js"></script>
</body>
</html>